#map-canvas {
	width: 100%;
}

html, body, #map-canvas {
	height: 100%;
}

h1 {
	font-size: 1.2em;
}

body {
	line-height: .6em;
	font-family: arial;
}

.list-view {
	width: 25%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: white;
}