#map-canvas {
	width: 100%;
	height: 66%;
}

html, body {
	height: 100%;
}

h1 {
	font-size: 1.2em;
}

body {
	line-height: .6em;
	font-family: arial;
}

.list-view {
	width: 98%;
	height: 33%;
	position: absolute;
	z-index: 1;
	background-color: white;
}

.search-box {
	font-size: 1em;
	width: 100%;
	-webkit-appearance: none;
	height: 40px;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.list-item {
	font-size: 1.5em;
	line-height: 2em;
	border: 1px solid black;
	text-align: center;
	width: 97%;
	flex-grow: 1;
}

.show-container {
	max-width: 500px;
	margin: 0 auto;
}

.show {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	margin: 5px;
}

.show-item {
	margin: 0;
	padding: 0;
	font-size: 1em;
	border: 1px solid black;
	background-color: white;
	max-width: 120px;
	height: 25px;
	flex-grow: 1;
}

.show-text {
	padding-right: 5px;
}

.show-img {
	display: inline-block;
	width: 12px;
}


@media screen and (min-width: 320px) {
	.show {
		flex-basis: 0;
	}
}

@media screen and (min-width: 550px) {
	.list-item {
		width: 48.5%;
	}
}

@media screen and (min-width: 800px) {
	.list-item {
		width: 32.33%;
	}
}