#map-canvas {
	width: 100%;
	height: 66%;
}

html, body {
	height: 100%;
}

h1 {
	font-size: 1.2em;
}

body {
	line-height: .6em;
	font-family: arial;
}

.list-view {
	width: 100%;
	height: 33%;
	position: absolute;
	z-index: 1;
	background-color: white;
}

.search-box {
	font-size: 1em;
	width: 100%;
	-webkit-appearance: none;
	height: 40px;
}
